/* set font-family and background color */
body {
  font-family: Arial, sans-serif;
  background-color: #323131;
  
}

/* style for completed to-do items */
.todo-item.completed {
  text-decoration: line-through;
  opacity: 0.5;
}


/* style for the input box*/
#new-todo {
  padding: 5px;
  font-size: 30px;
  color:#000000;
  width: 90%;
  height: 30px;
  border: 1px solid #00b7ff;
  border-radius: 5px;
}

/* stle for add button */
#add-todo {
  padding: 5px 10px;
  font-size: 30px;
  background-color: #fa6901;
  color: #040005;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

#add-todo:hover {
  background-color: #3e8e41;
}

/* style to-do list */
#todo-list{
  padding: 5px 10px;
  font-size: 50px;
  font-family: cursive;
  color: #ffcc00;
  border:#fff;
  border-radius: 5px;
  margin-left: 100px;
  margin-top: 50px;
  cursor: pointer;
  list-style: none;
}

/* style for header */
h1{
  font-style: italic;
  font-family: cursive;
  font-size: 90px;
  color: #eeff00;
}

/* style for delete button */
button{
  padding: 5px 10px;
  font-size: 30px;
  background-color: #7def0b;
  color: #040005;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: green;
  transition: color 0.5s ease;
}

.deleted {
  color: red;
  transition: opacity 0.5s ease;
  opacity: 0.5;
}